<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>注册</title>
    <style>
        input {
            display: block;
            margin: auto;
            width: 250px;
            line-height: 26px;
            font-size: 22px;
        }
    </style>
</head>
<body>
<div style="width: 50%;margin-right: 25%;margin-left: 25%;text-align: center">
    <br/>
    <h1>注册API 服务账号</h1> <br/>
    <div>
        <form action="/user/register" method="post">
            <input type="text" name="username" placeholder="请输入用户名"/>
            <span style="color: green">建议姓名全拼,方便沟通</span><br/>
            <br/>
            <input type="text" name="password" placeholder="请输入密码"/><br/>
            <input type="submit" value="注册"/><br/><br/>
            <span style="color: red" th:text="${tip}">提示</span>
        </form>
        <hr/>
        <a href="/userLogin">已有账号,去登录</a>
    </div>
</div>
</body>
</html>